{% extends '::base.html.twig' %}
{% block title %}
    Finalizar Compra{{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Finalizar Compra</h1>
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Seus Dados</strong></div>
                    <div class="panel-body">
                        <p>xxxx</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Sua compra</strong></div>
                    <div class="panel-body">
                        <p>xxxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}