{% extends '::base.html.twig' %}
{% block title %}
    Carrinho{{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Carrinho</h1>
        <div class="alert alert-warning">
            Não há produtos no seu carrinho!
        </div>
    </div>
{% endblock %}