{% extends '::base.html.twig' %}
{% block title %}
    Carrinho{{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
    <h1>Carrinho</h1>
    <table class="table table-hover">
        <tr>
            <th>Produto</th>
            <th>Nome</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Remover</th>
            <th class="text-center">Preço</th>
            <th class="text-right">Sub-Total</th>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="{{ asset('bundles/mercicatalog/images/fem-oculos-1.jpg') }}" alt="Nome do produto"></a>
            </td>
            <td><a href="#">Nome do produto</a></td>
            <td class="text-center">
                <form action="{{ path('cart') }}">
                    <input type="hidden" name="id" value="1">
                    <select name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </form>
            </td>
            <td class="text-center">
                <a href="{{ path('cart') }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove-sign"></span></a>
            </td>
            <td class="text-center">999,99</td>
            <td class="text-right">999,99</td>
        </tr>
        <tr>
            <th colspan="5" class="text-right">TOTAL:</th>
            <th class="text-right">999,00</th>
        </tr>
        <tr>
            <th colspan="6" class="text-right">
                <a href="#" class="btn btn-success btn-lg">Finalizar Compra</a>
            </th>
        </tr>
    </table>
</div>
{% endblock %}